* {box-sizing: border-box}

/** header **/

#header{
   background-color: white;
}

#tablone{
   width: 100%;
}

#headright{
	float: right;
}

#imga{
	width: 85%;
}

#name{
	padding-right: 35px;
	padding-top: 15px;
}

#navlk{
	text-align: center;
	background-color: transparent;
}

#tabinscon{
	width: 100%;
	margin-top: 25px;
}

#tabinscon tr{
	text-align: center;
}

#ins{
	background-color : #f8f9fa;
	color: #000;
	font-weight: 600;
	padding: 10px;
}

#ins:hover{
	background-color : #0a9ffb;
	text-decoration: none;
}

#avon{
	font-size: 28px; 
	color: #DCDCDC;
}

#avon:hover{
	color: #0a9ffb;
}


#con{
	background-color : #f8f9fa;
	color: #000;
	font-weight: 600;
	padding: 10px;
}

#con:hover{
	background-color : #0a9ffb;
	text-decoration: none;
}

/** index **/

#crps{
	padding-top: 30px;
	padding-bottom: 30px;
}

#crps h4{
	color: #0a9ffb;
	text-align: center;
	padding-bottom: 15px;
}

#crps h5{
	color: #0a9ffb;
	padding-bottom: 8px;
}

#addr{
	color: #000;
	font-weight: 600;
	margin-top: -12px;
	text-align: center;
}

#crps p{
	text-align: center;
}

#slpad{
	padding-top: 20px;
	padding-bottom: 45px;
}

#imgacc{
	margin: auto;
	display: block;
    width: 82%;
	border-radius: 10px;
}

.container {
  position: relative;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.numbertext {
  color: #f8f9fa;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  margin-top: 16px;
  color: #000;
  font-weight: 500;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  margin: auto;
  width: 16%;
}

.column img{
	width: 100%;	
	border-radius: 8px;
}

.demo:hover {
  opacity: 0.6;
}

#msli{
	padding-top: 15px;
	text-align: center;
	list-style: none;
}

#divaco{
	padding-top: 10px;
	padding-bottom: 45px;
	text-align: center;
}

.accordion {
  background-color: #f8f9fa;
  color: #0a9ffb;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #DCDCDC;
 
}

.panel{
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.panel img{
	border-radius: 5px;
	padding-top: 30px;
	width: 75%;
}

#imgptit{
	width: 90%;
	height: 90px;
}

#crps h6{
	color: #0a9ffb;
}

#mysped{
	padding-top: 25px;
	padding-bottom: 10px;
}

.moyimg1{
	padding-top: 72px;
	border-radius: 10px;
}

#moyimg{
	width: 80%;
}

#lastimgi{
	text-align: center;
	padding-bottom: 12px;
}

#lastimgi p img{
	width: 100%;
}


/* A propos  */

.table{
	text-align: center;
}

#moyimg{
	margin-top: -25px;
}

#colchang{
	background-color: #f8f9fa;
}

#tabpart{
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 35px;
}

#tabpart tr{
	height: 60px;
}

#tabpart tr td a{
	background-color: #f8f9fa;
	padding: 15px;
}

#tabpart tr td a:hover{
	text-decoration: none;
	background-color: #DCDCDC;
}

/* Categories ulm */

#imagecat{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#imagecat p img{
	width: 60%;
}

/* Qui peut voler */

#lienpdf{
	text-align: center;
}

/* Météo */

#meteo{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}

/* Nos tarifs */


/* Contacts */

#contactlist{
	width: 50%;
	margin: auto;
}

#divbtn{
	text-align: center;
}

#button{
	border-radius: 2px;
	margin-top: 21px;
	padding-top: 6px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-family:  arial,sans-serif;
    background-color: #f8f9fa;
	border: none;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
	font-weight: bold;
}

#button:hover{
    background-color : #0a9ffb;
}

/** Inscription **/

#error{
	color: red;
}

#inslist{ 
	width: 50%;
	margin: auto;
	padding-bottom: 20px;
}

/** Connexion **/

#conlist{
	width: 50%;
	margin: auto;
	padding-bottom: 20px;
}

/* Footer */

#imgfoot img{
	width: 40%;
}

#igm{
	text-align: center;
}

#imgfooter img{
	width: 100%;	
}