<div id="footer">

<div id="imgfoot">
  <p id="igm"><img src="images/igm.jpg" ></p>
</div>

<div id="imgfooter">
  <img src="images/e.png" >
</div>

<nav class="navbar  navbar-light bg-light">
  <a class="" href="apropos.php">Qui sommes-nous?</a>
  <a class="" href="contacts.php">Contacts</a>
  <a class="" href="infoslegales.php">Informations légales</a>
</nav>

<div class="footer-copyright text-right py-3">© 2019 Copyright :
  <a href="index.php"> Aéroclub ACF2L</a>
</div>
  
  
</div>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
